﻿@model Comic.Models.Genre
@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Create New Genre</h3>
        <hr />
        <div class="form-border">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <input type="submit" value="Create" class="btn btn-sm btn-success" />
        @Html.Partial("_BackToListButtonPartial")
    </div>
}
