﻿@model Comic.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h3>Profile Details</h3>

<div>
    <hr />
    <div class="form-horizontal">
        <div class="form-border">
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">

                    @if (Model.HasPassword)
                    {
                        <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("ChangePassword")">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span>Change Password</span>
                        </a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("SetPassword")">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span>Create Password</span>
                        </a>
                    }
                    &nbsp;&nbsp;

                    <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("ManageLogins")">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span>Manage External Logins</span>
                    </a>
                </div>
            </div>

            <fieldset disabled>
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.BirthDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MembershipTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.MembershipTypeId, new SelectList(Model.MembershipTypes, "id", "name"), new { @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <br />
            <div class="col-md-offset-2">
                @Html.ActionLink("Edit", "Edit", "Manage", null, new { @class = "btn btn-sm btn-success" })
            </div>
        </div>
    </div>
</div>

