﻿@model IEnumerable<Comic.Models.MembershipType>
@using Comic.Models
@{
    ViewBag.Title = "Index";
}

<h3>Membership Types</h3>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-condensed table-hover" >
    <tr class="table-header">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignUpFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChargeRateOneMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChargeRateSixMonth)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignUpFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChargeRateOneMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChargeRateSixMonth)
        </td>
        <td>
            @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { MembershipTypeId = item.Id})
        </td>
    </tr>
}

</table>
